<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthorFilter</filter-name>
        <filter-class>filter.AuthorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorFilter</filter-name>
        <url-pattern>/*</url-pattern>
        
                                                                      
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.user.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.user.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareProductServlet</servlet-name>
        <servlet-class>controller.user.CompareProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReloadReviewServlet</servlet-name>
        <servlet-class>controller.user.ReloadReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>controller.user.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishListServlet</servlet-name>
        <servlet-class>controller.user.WishListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailServlet</servlet-name>
        <servlet-class>controller.user.CartDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareProductServlet</servlet-name>
        <url-pattern>/compareproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReloadReviewServlet</servlet-name>
        <url-pattern>/reloadreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/searchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishListServlet</servlet-name>
        <url-pattern>/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailServlet</servlet-name>
        <url-pattern>/cartdetail</url-pattern>
    </servlet-mapping>
</web-app>
