/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 16, 2024, 3:33:29 PM
    Author     : admin
*/
.Form-changepassword{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 30px;
  }
  .error_changepassword{
      color: red;
      font-size: large;
  }
.modal_headerr{
      background-color: #6f6fe1;
      color: white;
      border-radius: 30px;
  }
  
  .modal_headerr h3{
      color: white;
  }  
  #close-changePassword{
      background-color: #6f6fe1;
      font-size: xx-large;
      bottom: 5px;
  }
.modal modal_all {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.controls{
    display: flex;
}

#showPassword1,
#showPassword2,
#showPassword3{
    opacity: unset;
    width: 25px;
}
.showPass{
    color: orange;
    font-size: larger;
    font-weight: bold;
    line-height: 3
}

/*.new_password{
    border: 2px solid black;
}*/
/*.box_password{
    border: 2px solid black;
}*/


.control-label{
    color: black;
}


#close:hover,
#close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.Changepassword_text:hover,
.Changepassword_text:focus{
    color: orange;
}
.avatar{
    border-radius: 20%;
    border: 1px solid green;
}
.Form-userprofile{
    background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 30px;
}

.Form-userprofile h3{
    text-align: center;
    color: mediumaquamarine;
    font-weight: bold;
}

.Close-Profile{
    top: 2px;
    left: 90%;
    background-color: black;
    font-size: x-large;
}

.submitprofile:hover,
.submitprofile:focus{
    background-color: blue;
    color: white;
}

.form_UserProfile{
    display: flex;
}

.avatar_cover
.avatar {
    max-width: 230px;
    max-height: 230px;
}


.Changepassword_text{
    cursor: pointer;
    padding-left: 13px
}
