/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 8, 2024, 3:43:32 PM
    Author     : PC
*/

.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 2rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
}
